### Databases

Databases are typically organized in layers that have a broader application based on the context.
This is sometimes called the persistance layer.

Often the application stack of databases fits into one three categories: operations, storage, or analytics.
An operation service delivers the user experience or product
Operational services consist of serveral parts, such as a server and client-side application code
In a social media app, the operational service would be the client-side application code users run in their browser
such an app would keep track of all users, store their information (name, geolocation, etc.), and their interactions other users (messages, etc.).
Operation services leverage databases to store information. Databases are serperate from but dependent on the operational system.

Databases are typically comprised of a series of tables, each with their own schema and a number of records (rows).
Table data is organized into columns, each with a name and data type, this is called the schema.
The schema will changed based on the table and developers needs over time.
Changing a schema requires data to be migrated or systematically updated to support the changed schema.
Each record must conform to the schema and ideally will have an entry in every field.
Without an entry, a record will have a null, n/a, or blank field.
Raw tables contain simple, unprocessed data.
This data will closely resemble the data originally generated by the operations service.
Processed tables will contain data that has been transformed in some way to make it more readable and usable.
Roll-up tables will take data and aggregate. They are a type of processed table.

Raw data is not inherently valuable, instead the values comes from the insights we gain from applying analytics to data.
To analyze data, we use database queries to access data.
Queries are requests for specific parts of the databases. For example the name and email address of a user with a specific ID.
For relational databases, SQL is the common language to create, retrieve, update, and delete database records.

There are many different forms of SQL (PostgreSQL, MySQL, SQLite, HiveQL) so make sure when looking up SQL language features, you're looking at the documentation for the particular database you're using.

When querying, remember that SQL views the world in rows, so we'll want to work with attributes that exist that row-level.
We can do grouping such as sums and averages, but that must be done with row level characteristics.

Tables in a database will also have an index and querying an index will be must faster than querying an entire table.

### SQL Basics

To model and analyze data, you first need the RIGHT data. To access that, we use database queries. These will be the foundation of the work we do as data scienctists.


the CREATE clause
A database schema is a formal statement in SQL about how the columns and tables of a database are set up. A database contains one or more schemas which in turn contain tables. Schemas also contain other types of objects, such as data types, functions, and operators.

To create a new table in a database, use the CREATE TABLE clause:
    CREATE TABLE table_name(
     column_name_1 TYPE column_constraint,
     column_name_2 TYPE,
     column_name_3 TYPE
    );

Specify the table name after the CREATE TABLE clause. To avoid potential issues, use these conventions when creating tables:
    use lowercase when creating table names
    do not use spaces, instead use underscores ( _ )
    Postgres has some quirks with naming indentifiers (such as table names) in quotes and non-quotes. To avoid this, don't use double quotes when naming tables
    using meaningful and consistent table names

Lines after CREATE TABLE table_name configure the columns. Each column has a name and type. In the example above, replace TYPE with a valid type such as TEXT or INTEGER. It's also possible to add constraints to a column, such as making values in a column unique to a table or prohibiting null values.

The individual column creation lines in our SQL statement get separated by a comma and ideally a new line to aid readability.

PostgreSQL includes a large set of built-in data types and it's even possible to define your own datatype.


The SELECT and FROM clause
The SELECT clause retrieves rows of data from a table. The SELECT clause clause indicates a SELECT statement and a FROM statement.

We can query our data to retrieve all rows and columns from someTable:
    SELECT * FROM someTable;

We can be more specific about the columns we want to retrieve:
    SELECT col1, col2, anotherColumn FROM someTable;

We can select the station names from our stations.sql data:
    SELECT name FROM stations;

We can also ALIAS columns. Aliasing is refering to the underlying database column by a different name in our query:
    SELECT name station_name FROM stations;

this can also be written as:
    SELECT name AS station_name FROM stations;

Column aliasing is useful when you need to query across multiple tables that contain common column names. For example, two tables may have a column named 'id' and we need the 'id' values from both tables.


Filtering with WHERE
We can use the WHERE clause to only select rows meeting a particular condition. For example, we want to retrieve all orders that match a specific customer id, or banking transactions on a specific date.

The WHERE clause allows us to specify a set of conditions.

The LIKE operator can use pattern matching when analyzing string data

The BETWEEN operator can be used to check if a value is between a set of supplied values.

Last but not least, the AND and OR operators let us link together filter conditions in a WHERE block.


Ordering with ORDER
the ORDER BY clause allows us to control the order that our data is returned. You can order by one or more columns and specify ascending or descending order.

In the following example, we retrieve trip ID and start date for each trip record in our trips table where the bike_id columns value is over 27 and the zip_code column's value is 94107. In the ORDER BY clause we specify that we want the data sorted by the duration column in descending order:

    SELECT 
        trip_id, start_date
    FROM 
        trips
    WHERE
        bike_id = 27 AND
        zip_code = 94107
    ORDER BY duration DESC;
    -- These are comments, by the way. Use two dashes for single-line comments.

Note that our conditions here rely on the fact that the columns bike_id and zip_code are numeric. To match strings, you have to enclose the string text in 'single quotes'. In these cases, the LIKE operator can also be useful.

Here's how the query would look if we wanted to add a constraint such as subscriber type, which is a string:

    SELECT
        trip_id,
        start_date
    FROM
        trips
    WHERE
        bike_id = 27 AND
        subscriber_type LIKE 'Customer'
    ORDER BY duration DESC;
    --unlike python strings in SQL must use single quotes.

Make sure to always use single quotes with strings in SQL. Using double quotes is a common mistake that leads to fun errors.


Limiting with LIMIT
We can use the LIMIT clause to limit the number of results returned by a query.

Let's limit our query to retrieve only the three longest trips:

    SELECT
        trip_id,
        start_date
    FROM
        trips
    WHERE 
        bike_id = 27 AND
        subscriber_type LIKE 'Customer'
    ORDER BY duration DESC
    LIMIT 3;
    

Formatting Conventions
SQL is one of the most readable computer languages and sticking to a few conventions will ensure readability:

    1. Put each column name in a select clause on its own line, with one level of indentation from the preceding line.
    2. Follow the same indentation logic for FROM, WHERE, and ORDER BY blocks, giving each element its own line.
    3. Similarly, each clause gets its own line.
    4. Use all caps for clauses, function names, and the like.
    5. Use the actual case of the column/table name when referring to column and table names.
    6. Be consistent in your own use of casing, but recognize that SQL is not case sensitive, and it doesn't actually care about tabs and newlines.

Here's a good example of what not to do:
select trip_id, start_date from trips where bike_id=27 and zip_code=94107 order by duration desc limit 3;

The above example will execute, but it will be impossible to debug as our queries get bigger.

### Drills

- Write SQL queries to return:


- The IDs and durations for all trips of duration greater than 500, ordered by duration.


- Every column of the stations table for station id 84.


- The min temperatures of all the occurrences of rain in zip 94301.

Aggregating and Grouping
Queries can be made more powerful by grouping and aggregating. Grouping will collect database records according to some criteria. Aggregating is applying one of many possible aggregating operation on a query. Examples of aggregating operations are getting the max value in a column or averaging values in a certain range.

For example, you have a table that records zip codes, estimated home prices, last sold amount, and days on the market for most the recent sales. This query would group by zip code and return the average estimated home price and the max value for days on the market for the most recent sale:

    SELECT zipcode, AVG(estimated_home_price), MAX(days_on_market)
    FROM recent_sales
    GROUP BY zipcode;


GROUP BY
The GROUP BY clause comes after the WHERE clause and before the ORDER BY clause. Without any aggregation, grouping simply gets ride of duplicates. So all columns included in your SELECT statement must also be included in your GROUP BY statement. Here's an example:

    SELECT
        city
     FROM
        stations
    GROUP BY city;

This will return all unique city names in the station table. We can also use numbers rather than names to reference columns:

    SELECT
        city
     FROM
        stations
    GROUP BY 1;
    --this will group by the first column

When grouping over multiple columns the data is reduced to unique values or combinations of values generated by the GROUP BY statement. Each unique group item gets a row in the output.


Aggregators
Aggregators collect values and return a single value. This could be things like max/min or averages.

Let's try an example, query for the mean latitude and longitude for stations in each city, as well as station count:

    SELECT
        city,
        AVG(lat) as latitude,
        AVG(long) as longitude,
        COUNT(*) as station_count
    FROM
        stations
    GROUP by 1;
    -- We exclude columns that use aggregate functions from the group by
    -- clause, which is why we're only grouping by the city column.

Note that when working with aggregators, the name of the column of your output defaults to the function used to generate it. The function names usually aren't very descriptive, so renaming columns is particularly useful.

AVG will take the average of all of the values in the specified column with a given value in the grouped columns.
COUNT(*) will count the number of rows with the given value in the grouped columns.

Note that when using aggregate functions, every column in the query that doesn't use an aggregate function needs to be in the GROUP BY clause.

Beyond data selection, you could use Python to accomplish everything we're learning to do with SQL. We could just use SQL to create CSVs that we use with Pythin. How do we know when to use SQL and when to use Python?

The first thing to consider is the size of the data. SQL is much better and faster at processing large data and the production database server is probably much beefier than your laptop running Python (there are some exceptions to this like using a distributed Python framework like Spark).

SQL queries are also much lower weight to transfer across a network than a Python script plus a CSV or JSON dataset. Since SQL queries directly access the database they are also always accessing current data. SQL output is also easy to pipe into a Python environment.

Ultimately, home much to use SQL will will depend on the resources available, personal preference, and the complexity of your project.

### Drills

- What was the hottest day in our data set? Where was that?


- How many trips started at each station?


- What's the shortest trip that happened?


- What is the average trip duration, by end station?

### Joins and CTEs

So far we've only worked with one table at a time. SQL easily allows us to combine multiple tables using a __JOIN__ clause.

__Basic JOINS__
When writing a join clause, indicate one or more pairs of columns. The two tables will then be joined when the value in each pair matches, returning rows with the data from both tables for every such case.

By default, SQL will perform an __INNER JOIN__. The rows returned will have a successful join between the tables. If there is no match between the given columns, no rows will be returned.

Let's try it on the BikeShare data and join the station and trip tables. Let's return the latitude and longitude of the starting station for each trip, along with the trip ID:

    SELECT
        trips.trip_id,
        trips.start_station,
        stations.lat,
        stations.long
    FROM
        trips 
    JOIN
        stations
    ON
        trips.start_station = stations.name;
        
Note that the __JOIN__ comes after the FROM statement. The two statements work together as you are selecting from both the initial table (trips table) and the joined table (stations table).

In a two table join, the the order doesn't matter. But it's worth noting that the joins will happen in order, which can matter in more complex multi-table joins.

In the above case, we're joining the start_station column of the trips table on the name column of the stations table. These two columns are how we join the trips table and the stations table into one composite table.

Lastly, our __SELECT__ statement is choosing four columns from the composite (or "joined") table that we'd like to output: trip_id and start_station from the trips table, and lat & long from the stations table. We could use * here to select all columns from both tables if we wanted to. In practice, you almost always want to output specific parts of your join.

__Table Aliases__
We can rewrite the above query to utilize table aliasing:

    SELECT
        t.trip_id,
        t.start_station,
        s.lat,
        s.long
    FROM
        trips t
    JOIN
        stations s
    ON
        t.start_station = s.name;

Follow the tables in our __FROM__ and __JOIN__ statements with a space and then a single letter, then use this shorter name to refer to the tables in our select statement. 

You don't need to use aliases. You could use the actual table name as we did in the first example. However, aliases are very common and you'll see them a lot as you're reading other people's SQL code. No one agrees when you should or shouldn't use aliases. You should use them if it will make your code easier to read and maintain. You can also use them when joinging a table on itself and need two different aliases to refer to it.


__Types of Joins__
There a multiple ways to combine two tables. By default, SQL will perform an __inner join__ in which the only rows returned are ones with _both_ a match on the left table _and_ a match on the right table. Rows are only returned when there is a match on both sides, so it doesn't matter which table is on the left or which is on the right. SQL assumes you want an __inner join__ unless you specify differently, so using __JOIN__ is the same as using __INNER JOIN__.

The others types of joins are __outer joins__: left outer joins, right outer joins, and full outer joins.

In a __left outer join__ every row from the left table will be included in your output, _even if there is no matching row on the right table_. Tables are read like text, so the left table is the first table you specify and the right table the second specified. Rows without a match will be filled with __NULL__ for the columns on the right table. Left outer joins are often called "left joins" and you can perform them using __LEFT OUTER JOIN__ or __LEFT JOIN__.

A __right outer join__ or "right join" is the same process as a left join, except all rows from the right table are returned--even if there's no match--and only rows with matching values are returned from the left table. You can perform a right join with __RIGHT OUTER JOIN__ or __RIGHT JOIN__.

The only difference between a left join and right join is the order, so you can easily reverse the table order to complete a left or right join.


A __full outer join__ or "full join" or "outer join" returns all matching records from _both_ left and right tables. This can potentially return a very large data set, enough to choke your laptop or even a production database serve.

The default join in SQL is an inner join because they are much more common than outer joins. When you _do_ want to want to use an outer join, you'll usually end up using a left join.


__Common Table Expressions__
The result of every SQL query is itself a table. That means you can not only join tables on existing tables, you can also join tables on the result of a query. one way to do that is with __common table expressions__ or CTEs.

There are two basic ways to use CTEs in SQL: step processing for queries (running a query that is too complex for a single execution and instead requires discrete steps) or preprocessing to facilitate a join.

Let's try a preprocessing example. Recall that before we generated the average latitude and longitude of every city. What if we wanted to also included a count of the number of trips that started in each city? Doing this with a single query would look something like this:

    SELECT
        s.city,
        AVG(s.lat) lat,
        AVG(s.long) long,
        COUNT(*)
    FROM
        stations s
    JOIN
        trips t
    ON
        t.start_station = s.name 
    GROUP BY 1;
    
_However_ this query is incorrect. When working with joins, the join happens _before_ any aggregate functions. So in the example above, we're actually taking the average of the latitude and longitude for every trip that occurred. So the results will skewed to the more popular station's coordinates. To do this properly we can use a CTE:

CTEs start with the form
    WITH __expression__ as (...)
This will create an intermediate table for you to work with and join on. Let's rewrite the above query using a CTE:

    -- Set up the CTE to create a "locations" table.
    WITH
        locations
    AS (
        -- A simple query to get the averages of lat and long on a city level.
        SELECT
            city,
            AVG(lat) lat,
            AVG(long) long
        FROM
            stations
        GROUP BY 1
    )

    -- Joining the locations table we created with the trips table to count trips.
    SELECT
        l.city,
        l.lat,
        l.long,
        COUNT(*)
    FROM
        locations l

    -- We need an intermediate join to go from locations to stations 
    -- because the trips table does not have a "city" column.
    JOIN
        stations s
    ON
        l.city = s.city
    JOIN
        trips t
    ON
        t.start_station = s.name
    GROUP BY 1,2,3;
    
Let's walk through how this query operates. First, the CTE creates a table LOCATIONS. This table groups stations by city name, then calculates the average latitude and longitude of those stations, giving the average station latitude and longitude per city. The LOCATIONS table is then joined with the TRIPS table.

But we can't directly join LOCATIONS onto the TRIPS table, because LOCATIONS has a city column and the TRIPS table doesn't. We must first join LOCATIONS back on the STATIONS table--which has a city column--then join STATIONS onto the TRIPS table on the common start_station and station name columns. It's common to use multiple joins like this to relate two tables you can't join directly.

All of this comes together to give the average latitude, longitude, and count of the number of trips per city.


__Case Statements__
__CASE__ statements allow you to set up conditions and then take action in a column based on them. It's common to combine __CASE__ statements with __COUNT__ to do conditional counts. Here's an example of the most common form of case statements:
    CASE WHEN __condition__ THEN __value__ ELSE __value__ END

Let's see an example of a __CASE__ statement:

    SELECT
        (CASE WHEN dockcount > 20 THEN 'large' ELSE 'small' END) station_size,
        COUNT(*) as station_count
    FROM 
        stations
    GROUP BY 1;
    
This __CASE__ statement looks at the STATIONS table and labels each row either 'large' or 'small' depending on the value of dockcount for that row. The __CASE__ statement then counts how many rows there are for each case. The __GROUP BY__ statement allows us to count based on station size.

### DRILLS

- What are the three longest trips on rainy days?


- Which station is full most often?


- Return a list of stations with a count of number of trips starting at that station but ordered by dock count.


(Challenge) What's the length of the longest trip for each day it rains anywhere?


__Queries running a little slow?__ This is a large database for working locally, particularly the status table. It may be helpful to create a smaller version of the status table to help develop these queries so things run faster and you can iterate easily.

Try running something like:

    CREATE TABLE status_abbreviated AS
      SELECT *
      FROM status
      limit 10000;
      
This will create a table with only 10,000 entries from status, making for faster joins and queries. When you think your query is running properly test it against the full table to confirm.

You should now be familiar with writing basic SQL. Queries can range from a few simple lines to literally hundreds with complicated joins and cases.We covered the basics of setting up a Postgres database, as well as some of the basics of querying like __SELECT__, __GROUP BY__, and __JOIN__. Remember there are several forms of SQL, and while they share a basic structure, there will be differences. When working with a database, it's always good to look up some of the functions and structure of the particular type of SQL you're working with.