<a href="https://colab.research.google.com/github/aarondelgiudice/thinkful_data_bootcamp/blob/master/Unit_5/Lesson_1/Project_Euler_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Euler
Unit 5 / Lesson 1 / Project 4
There is one resource above all that helps data scientists and other engineers practice their mathematical programming skills: [Project Euler](https://projecteuler.net/).
Use your skills to find efficient solutions to the first 10 problems.

In [0]:
import numpy as np

### Question 1
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [0]:
#Create for loop in order to calculate our multiples
multiples = []
for i in range(0, 1000, 1):
    if i % 3 == 0 or i % 5 == 0:
        multiples.append(i)

In [3]:
#Print Sum
sum(multiples)

233168

### Question 2
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [0]:
def even_fib(max):
    a, b = 0, 1
    while a < max:
        if not a % 2:         
            yield a
        a, b = b, a + b

In [5]:
sum(even_fib(4000000))

4613732

### Question 3
The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [6]:
# define function to find highest factor

n = 600851475143
i = 2
while i * i < n:
    while n%i == 0:
        n = n / i
    i = i + 1

print(n)

6857.0

### Question 4
A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is $9009 = 91 × 99$.

Find the largest palindrome made from the product of two 3-digit numbers.

In [7]:
n = 0
for a in range(999, 100, -1):
    for b in range(a, 100, -1):
        x = a * b
        if x > n:
            s = str(a * b)
            if s == s[::-1]:
                 n = a * b
print(n)

906609

### Question 5
2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

In [0]:
divisible = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
numbers = []
for a in range(0, 1000000, 1):
    test = []
    for i in divisible:
        if a % i == 0:
            test.append(a)
    if len(test)==len(divisible):
        numbers.append(a)

In [9]:
sum(numbers)

0

### Question 6
The sum of the squares of the first ten natural numbers is,

$1^2 + 2^2 + ... + 10^2 = 385$
The square of the sum of the first ten natural numbers is,

$(1 + 2 + ... + 10)^2 = 55^2 = 3025$
Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is $3025 − 385 = 2640$.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [10]:
sum_of_squares = sum(i**2 for i in range(1,100))

square_of_sums = sum(range(1,100))**2

print(square_of_sums - sum_of_squares)

24174150

### Question 7
By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.

What is the 10001st prime number?

In [0]:
import math
prime_list = []
for num in range(3,1000000, 2):
    if all(num % i !=0 for i in range(2,int(math.sqrt(num))+1)):
       prime_list.append(num)

In [12]:
prime_list[10002]

104773

### Problem 8
The four adjacent digits in the 1000-digit number that have the greatest product are $9 × 9 × 8 × 9 = 5832$.

Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. What is the value of this product?

In [0]:
number = '73167176531330624919225119674426574742355349194934\
96983520312774506326239578318016984801869478851843\
85861560789112949495459501737958331952853208805511\
12540698747158523863050715693290963295227443043557\
66896648950445244523161731856403098711121722383113\
62229893423380308135336276614282806444486645238749\
30358907296290491560440772390713810515859307960866\
70172427121883998797908792274921901699720888093776\
65727333001053367881220235421809751254540594752243\
52584907711670556013604839586446706324415722155397\
53697817977846174064955149290862569321978468622482\
83972241375657056057490261407972968652414535100474\
82166370484403199890008895243450658541227588666881\
16427171479924442928230863465674813919123162824586\
17866458359124566529476545682848912883142607690042\
24219022671055626321111109370544217506941658960408\
07198403850962455444362981230987879927244284909188\
84580156166097919133875499200524063689912560717606\
05886116467109405077541002256983155200055935729725\
71636269561882670428252483600823257530420752963450'

In [0]:
def product(number, length):
    current = 0
    for i in range(0, len(number) - length):
        part = number[i:i+length]
        prod = 1
        for char in part:
            prod *= int(char)
        if prod > current:
            current = prod
    return current

In [15]:
product(number, 13)

23514624000

### Problem 9
A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,

$a^2 + b^2 = c^2$
For example, $32 + 42 = 9 + 16 = 25 = 52$.

There exists exactly one Pythagorean triplet for which $a + b + c = 1000$.
Find the product abc.

In [16]:
x = 1000

for a in range(1, x+1):
    for b in range(1, x+1):
        c = math.sqrt((a**2 + b**2))
        if a + b + c == x:
            print(a*b*c)

31875000.0
31875000.0

### Problem 10
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.

Find the sum of all the primes below two million.

In [0]:
prime_sum = 0

for i in range(2, 2000000):
  is_prime = True
  for j in range(2, int(math.sqrt(i)+1)):
    if i % j == 0:
      is_prime = False
  if is_prime:
    prime_sum += i

In [18]:
prime_sum

142913828922