# Unit 1 Capstone: Narrative analytics and experimentation

Unit 1 / Lesson 5 / Project 1

Previously we've asked you to look into a dataset to ask and answer a series of questions.
You are now ready for the next step in that process.

As usual, it starts with picking a data set.
It can be the same data set as a previous challenge or capstone, but make sure you're using a data set that makes sense for this task, so read all of the instructions first.

First, dive in and explore the data set.
Include your code and visuals from this process in your final write up.
While doing this, look for something that provokes a question; specifically one that can be answered with an experiment.

The main component of this capstone is a research proposal.
Using the data set you selected, propose and outline an experiment plan.

The plan should consist of three key components:
- Analysis that highlights your experimental hypothesis.
- A rollout plan showing how you would implement and rollout the experiment
- An evaluation plan showing what constitutes success in this experiment

Your experiment should be as real as possible.
Though you obviously will not have access to the full production environment to deploy your experiment, it should be feasible and of interest to the parties involved with your actual data source.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
PATH_AAPL = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=AAPL&outputsize=full&apikey=K6YQBHF3XYZCR530' # api url
api_AAPL = pd.read_json(PATH_AAPL)
api_AAPL.to_json('stock_data_AAPL.json')

PATH_AMZN = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=AMZN&outputsize=full&apikey=K6YQBHF3XYZCR530' # api url
api_AMZN = pd.read_json(PATH_AMZN)
api_AMZN.to_json('stock_data_AMZN.json')

PATH_MSFT = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&outputsize=full&apikey=K6YQBHF3XYZCR530' # api url
api_MSFT = pd.read_json(PATH_MSFT)
api_MSFT.to_json('stock_data_MSFT.json')

PATH_SPX = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=SPX&outputsize=full&apikey=K6YQBHF3XYZCR530' # api url
api_SPX = pd.read_json(PATH_SPX)
api_SPX.to_json('stock_data_SPX.json')

api_AAPL.head()
api_AMZN.head()
api_MSFT.head()
api_SPX.head()

,Meta Data,Time Series (Daily)
1. Information,"Daily Prices (open, high, low, close) and Volumes",NaN
2. Symbol,SPX,NaN
2000-01-03,NaN,"{'1. open': '1469.2500', '2. high': '1478.0000..."
2000-01-04,NaN,"{'1. open': '1455.2200', '2. high': '1455.2200..."
2000-01-05,NaN,"{'1. open': '1399.4200', '2. high': '1413.2700..."

In [6]:
aapl = pd.read_json('stock_data_AAPL.json')

print(aapl.head())


aapl['daily'] = aapl['Time Series (Daily)']

aapl = aapl.drop('Meta Data', 1)
aapl = aapl.drop('Time Series (Daily)', 1)
aapl = aapl.drop(aapl.index[0])
aapl = aapl.drop(aapl.index[[-3,-2,-1]])

print(aapl.head())

                                                        Meta Data  \
1. Information  Daily Prices (open, high, low, close) and Volumes
1998-01-02                                                   None
1998-01-05                                                   None
1998-01-06                                                   None
1998-01-07                                                   None

                                              Time Series (Daily)
1. Information                                               None
1998-01-02      {'1. open': '13.6300', '2. high': '16.2500', '...
1998-01-05      {'1. open': '16.5000', '2. high': '16.5600', '...
1998-01-06      {'1. open': '15.9400', '2. high': '20.0000', '...
1998-01-07      {'1. open': '18.8100', '2. high': '19.0000', '...
                                                        daily
1998-01-02  {'1. open': '13.6300', '2. high': '16.2500', '...
1998-01-05  {'1. open': '16.5000', '2. high': '16.5600', '...
1998-01-06  {'1. open': '15.9400', '2. high': '20.0000', '...
1998-01-07  {'1. open': '18.8100', '2. high': '19.0000', '...
1998-01-08  {'1. open': '17.4400', '2. high': '18.6200', '...

In [18]:
amzn = pd.read_json('stock_data_AMZN.json')

amzn['daily'] = amzn['Time Series (Daily)']

amzn = amzn.drop('Meta Data', 1)
amzn = amzn.drop('Time Series (Daily)', 1)
amzn = amzn.drop(amzn.index[0])
amzn = amzn.drop(amzn.index[[-3,-2,-1]])


msft = pd.read_json('stock_data_MSFT.json')

msft['daily'] = msft['Time Series (Daily)']

msft = msft.drop('Meta Data', 1)
msft = msft.drop('Time Series (Daily)', 1)
msft = msft.drop(msft.index[0])
msft = msft.drop(msft.index[[-3,-2,-1]])


spx = pd.read_json('stock_data_SPX.json')

spx['daily'] = spx['Time Series (Daily)']

spx = spx.drop('Meta Data', 1)
spx = spx.drop('Time Series (Daily)', 1)
spx = spx.drop(spx.index[0])
spx = spx.drop(spx.index[[-3,-2,-1]])

In [19]:
aapl.daily[-1]

{'1. open': '157.5000',
 '2. high': '157.8700',
 '3. low': '156.0400',
 '4. close': '156.2100',
 '5. volume': '26126232'}

In [8]:
aapl.daily[0]['1. open']

'13.6300'

In [9]:
Open = []
High = []
Low = []
Close = []
Volumn = []

In [10]:
aapl.tail()

                                                        daily
2019-01-14  {'1. open': '150.8500', '2. high': '151.2700',...
2019-01-15  {'1. open': '150.2700', '2. high': '153.3900',...
2019-01-16  {'1. open': '153.0800', '2. high': '155.8800',...
2019-01-17  {'1. open': '154.2000', '2. high': '157.6600',...
2019-01-18  {'1. open': '157.5000', '2. high': '157.8700',...

In [13]:
amzn.tail()

                                                        daily
2019-01-14  {'1. open': '1615.0000', '2. high': '1648.2000...
2019-01-15  {'1. open': '1632.0000', '2. high': '1675.1600...
2019-01-16  {'1. open': '1684.2200', '2. high': '1705.0000...
2019-01-17  {'1. open': '1680.0000', '2. high': '1700.1700...
2019-01-18  {'1. open': '1712.0000', '2. high': '1716.2000...

In [16]:
msft.tail()

                                                        daily
2019-01-14  {'1. open': '101.9000', '2. high': '102.8716',...
2019-01-15  {'1. open': '102.5100', '2. high': '105.0500',...
2019-01-16  {'1. open': '105.2600', '2. high': '106.2550',...
2019-01-17  {'1. open': '105.0000', '2. high': '106.6250',...
2019-01-18  {'1. open': '107.4600', '2. high': '107.9000',...

In [20]:
spx.tail()

                                                        daily
2019-01-14  {'1. open': '2580.3101', '2. high': '2589.3201...
2019-01-15  {'1. open': '2585.1001', '2. high': '2613.0801...
2019-01-16  {'1. open': '2614.7500', '2. high': '2625.7600...
2019-01-17  {'1. open': '2609.2800', '2. high': '2645.0601...
2019-01-18  {'1. open': '2651.2700', '2. high': '2675.4700...